TURSO_URL=libsql://your-database-name.turso.io
TURSO_TOKEN=your-turso-auth-token
PORT=3001
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
CLOUDINARY_UPLOAD_FOLDER=respell
VITE_API_URL=https://respellapp.onrender.com
